.raffle {
  width: 100% !important;
  height: 100%;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__elements-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__text {
    margin: auto;
    height: 4em;
    width: 12em;
    margin-bottom: 4em !important;
    text-align: center;
  }

  &__button {
    background-color: hsl(215, 100%, 18%) !important;
    margin: auto;
    height: 4em;
    width: 12em;
    margin-bottom: 10em !important;
    border-radius: 7px !important;
  }

  &__button-small {
    background-color: hsl(215, 100%, 18%) !important;
    margin: 0;
    width: 12em;
    border-radius: 7px !important;
    z-index: 1;
  }

  &__button-small:hover,
  &__button:hover {
    color: aliceblue !important;
    background-color: hsl(215, 100%, 26%) !important;
  }

  &__logo {
    display: flex;
    margin-top: 2em;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}
